*{
    margin: 0px;
    padding: 0px;
}
#top{
    width: 100%;

}
h1{
    text-align: center;
    padding: 10px;
}

nav{
    height: 20VH;
    width: 100%;
    background-color: aqua;
    display: block;
}
#sidebar{
    height: 70vh;
    display: block;
    background-color: aquamarine;
    

}
#content{
    height: 80vh;    
    width:auto ;
footer{
    text-align: center;
    height: 10vh;
    width: 100%;
    background-color: yellowgreen;
    padding: 20px;
}