*{
    margin: 0px;
    padding: 0px;
}
#sidebar{
    width: 12%;
    background-color: plum;
    height: 65vh;
    
    list-style: none;
}
    
h1{
   margin-top: 10px; 
    text-align: center;
    color: lawngreen;
    padding: 20px;
}
nav{
    margin-top: 20px;
    background-color: green;
    height: 20vh;
    width: 100%; 
    display: block; 
} 
footer{
    text-align: center;
    background-color: plum;
}
 #right ul li {
    
    padding: 10px;
    width: 30%;
    display: block;
    margin-left: 20px; 

} 

 #content{
        background-color: rgba(195, 255, 0, 0.422);
        height: 65vh;
        display: block; 
        width: 60%%;
 }